body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    background: #f4f4f4;
    color: #333;
}
header {
    background: #2f2f2f;/*cinza grafite*/
    color: white;/*texto branco*/
    padding: 1em;
    text-align: center;
}
header h1, header h2, header h3{
    font-weight: bold;/*negrito nos titulos*/
    margin-bottom: 0,5em;/*espaçamento entre os titulos*/
}
nav a {
    margin: 0 10px;
    color: #fff; /*cor branca*/
    text-decoration: none; /*sem sublinhado*/
    font-weight:bold;/*opcional: deixar os links também em negrito*/
}
section {
    padding: 2em;
    opacity: 0;
    transform: translateY(20px);
    transition: all 0.6s ease-out;
}
section.visible {
    opacity: 1;
    transform: translateY(0);
}
.card {
    background: white;
    padding: 1em;
    margin: 1em 0;
    border-left: 5px solid #222;
}
footer {
    background: #f5f5f5;/*branco gelo*/
    color: #333;
    text-align: center;
    padding: 1em;
}
